header {
  display: flex;
  height: auto;
  margin: 0 auto;
  padding: 0px 0;
  text-align: center;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}

header nav {
  width: 100%;
}

header svg {
  display: block;
  height: 40px;
  width: 100px;
}
